.intro__image {
  width: 290px;
  height: 290px;
  border-radius: 20px;
}

.intro__image:hover {
  cursor: pointer;
  transform: scale(1.03);
}

@media screen and (max-width: 750px) {
  .intro__image {
    width: 230px;
    height: 230px;
  }
}
