.intro__info {
  margin-left: 100px;
}

@media screen and (max-width: 1000px) {
  .intro__info {
    margin-left: 50px;
  }
}

@media screen and (max-width: 550px) {
  .intro__info {
    margin: 20px auto auto;
  }
}
